body{
	background-color:white;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}

.container{
	
	width:100%;
	margin:auto;
	overflow:hidden;
	background-color: #CCAE80  ;
	color:black;
}


/*#showcase{
	min-height: 600px;
	
	background: url('../images/aboutus.jpg') no-repeat;
	color:white;
	width: 50%;
  background-color: powderblue;
}
#showcase h1{
	font-size:50px;
	text-align: center;
	color:white;


}*/
#main h1{
	padding-top: 20px;
}



#showcase{background:url('../images/contact.png' ) no-repeat ;

	
	min-height:400px;
	
	background-size: 100% 100%;
	text-align: center;

	
}


#main{
	float:left;
	width:70%;
	padding:0 30px;
	box-sizing: border-box;
}


#main-footer{
	background: #333;
	color:#fff;
	text-align: center;
	padding:20px;
	
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: darkblue;
  font-family: Arial;
  margin-top: 160px;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;

}
 

	.navbar .current a{
		background-color: blue;
	}



/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.Image1{

     position: absolute;
     left: 100px;
     top: 60px;



}

@media(max-width:600px){
	#main{
		width:100%;
		float:none;
	}

	#sidebar{
		width:100%;
		float:none;
	}
}

.container2{

background-color: #E2E8D3;
color:black;
width:100%; 
text-align: center;
padding-bottom: 7px;
padding-top: 7px;
font-weight:bold;
font-family: Aril,Helvetica,sans-serif;




}

.button1{
	background-color: #595956;
	margin-right: 5px;
	padding: 3px;
	color:white;

}
header #sal{
  position: absolute;
  left: 1100px;
  top: 3px;
  font-family: Monospace ;

  
}
/*.container1{
	 position: absolute;
     left: 1265px;
     top: 40px;
     font-size: 20px;
     font-weight: bold;
     font-family: 
}*/

*{
	margin: 0;

	padding:0;
}
a{
	color:black;
	text-decoration: underline;
}
a:hover{
	color:brown;
}
